<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inventory</title>
  </head>
  <body>
    {% if request.GET.name %}
    <h1>Hola {{ request.GET.name }}</h1>
    {% endif %} {% if request.GET.ss %}
    <h1>Hola {{ request.GET.ss }}</h1>
    {% endif %}
    <h1>Hoy es {{ day }}</h1>
    {% for i in items %}
    {{ i.name }}
    {% endfor %}
    <form action="/inventory/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
