{% extends "index.html" %}
{% block content %}
<h1>Crear nuevo usuario</h1>
<form role="form" action="{% url 'admin-panel:create-user' %}" method="POST">
    {% csrf_token %}
    <div class="panel panel-default">
        {% for field in form.visible_fields %}
        {{field.label_tag}}
        {{ field }}
        {{ field_errors }}
        {% endfor %}
        <div class="row">
            <a href="{% url 'admin-panel:index' %}" class="btn btn-default">Cancelar</a>
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
        </div>
</form>
{% endblock content %}